body {
    margin: 0;
    padding: 0;
    width: 1080px;
    box-shadow: 0px 0px 5px grey;
}
.mobileheader{
    display: none;
}

.photo {
    width: auto;
    height: auto;
    text-align: center;
    padding-top: 40px;
}

.photo img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 3px solid rgb(255, 123, 0);
}

.LUDOVIC {
    color: yellow;
    font-size: 55px;
    margin-top: 5px;
}

.cvpage {
    display: flex;
    justify-content: space-evenly;
    width: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

.cvpartie-gauche {
    width: 400px;
    background-color: rgba(255, 208, 0, 0.87);
    text-align: justify;
    text-justify: 10px;
    height: 100%;
}

.cvpartie-droite {
    width: calc(100% - 300px);
    text-align: justify;
    padding-left: 40px;
    margin-bottom: 20px;
}

h1 {
    font-size: 55px;
    padding-left: 20px;
    margin-top: 15%;
    margin-bottom: 0px;
}

.tiret {
    width: 75px;
    height: 2px;
    background-color: yellow;
    margin-bottom: 70px;
    margin-left: 20px;
}

h2 {
    color: yellow;
    font-size: 25px;
    background-color: black;
    text-align: center;
}

h3 {
    display: block;
    width: 100%;
    font-size: 20px;
    border-bottom: 2px blue solid;
    text-align: justify;
    margin-bottom: 15px;
}

h3>i {
    color: yellow;
    font-size: x-large;
    margin-right: 1em;
    flex-wrap: wrap;
    text-align: left;
    justify-content: space-evenly;
}

.ptite {
    display: inline-block;
    padding-bottom: 5px;
}

.icones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.description {
    font-size: 28px;
}

.poste {
    display: flex;
    font-size: 16px;
    font-style: italic;
    text-align: justify;
    font-weight: normal;
}

.durée {
    font-size: 16px;
}

.lieu {
    font-size: 16px;
    text-align: justify;
    font-weight: normal;
    font-weight: bold;
    margin-left: 1.1em;
}

.option {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}

.contact {
    margin-top: 40px;
    margin-bottom: 20px;
    justify-content: justify;
}

.contact p {
    margin-left: 20px;
    text-align: justify;
}

.info {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 205px;
}

.info p {
    text-align: justify;
    margin-top: 30px;
    margin-left: 20px;
}

.diplomes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.cert {
    width: 50%;
    text-align: left;
    font-weight: bold;
}

.date {
    flex-wrap: nowrap;
    width: 50%;
    text-align: left;
    font-weight: bold;
}

p>i {
    color: yellow;
    text-align: justify;
    margin-right: 1em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: x-small;
}

.expérience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 20px;
}

.exp {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.entreprises {
    justify-content: flex-end;
    text-align: left;
    width: 50%;
    margin-left: 0px;
    font-weight: bold;
}

.autreInfos {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    margin-top: 15px;
}

.reco {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.personnel {
    text-align: justify;
    align-content: flex-start;
    justify-content: space-around;
    width: 50%;
    font-size: 16px;
}

.titre {
    font-weight: bold;
}

.metier {
    font-weight: bold;
}

.numero {
    font-weight: bold;
}

.icones>span {
    border: 2px solid black;
    border-radius: 50%;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: xx-large;
}
/*responsive design*/

@media screen and (max-width: 1024px) {
    .body {
        width: 100%;
        text-align: justify;
        padding: 0;
        margin: 0;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 500px;
    }
    .mobileheader{
        display: flex;
        justify-content: space-around;
        height: 180px;
        text-align: center;
        margin-bottom: 50px;
    }
    .mobileheader img{
        text-align: center;
        height: 280px;
        width: 280px;
        margin: 5px;
        margin-bottom: 10px;
        object-fit: cover;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid rgb(255, 123, 0);
    }
    .head{
        text-align: center;
        font-size: 70px;
        margin-bottom: 5px;
        text-shadow: 0px 0px 1px black;
    }
    .LUDO{
        color: #FFD933;
        text-shadow: 0px 0px px black;
        font-size: 60px;
        text-align: center;
    }
    .cvpage {
        width: 100%;
        padding: auto;
        display : block;
        flex-direction : column;
        overflow: hidden;
    }
    .cvpartie-gauche {
        width: auto;
        margin-bottom: 2px;
        text-align: justify;
        font-size: 40px;
    }
    .cvpartie-droite {
        width:auto;
        font-size: 40px;
        justify-content: space-evenly;
        text-align: justify;
    }
    .option {
        font-size: 35px;
    }
    .photo img {
        display: none;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        position: absolute;
        top: 10px;
        right: 0px;
        box-shadow: 0px 0px 5px black;
        padding: 0;
        margin: 0;
    }
    .nom{
        display: none;
    }
    .tiret{
        display: none;
    }
    h1 {
        font-size: 60px;
        text-align: center;
        display: none;
    }
    .LUDOVIC {
        color: #FFD933;
        text-shadow: 0px 0px 1px black;
        font-size: 60px;
        text-align: center;
    }
    .description {
        font-size: 45px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 45px;
    }
    .icones>span {   
    font-size:100px;
    height: 140px;
    width: 140px;
    line-height: 140px;
    }
    .icones > p{
        font-size:40px;
    }
    .icones > span > i{
        font-size: 100px;
    }
    .date{
        font-size: 40px;
        width: 50%
    }
    .cert{
        font-size: 40px;
        width: 50%
    }
    .entreprises{
        font-size: 40px;
        width: 50%;
    }
    .poste{
        font-size: 36px;
    }
    .lieu{
        font-size: 36px;
        font-weight: normal;
    }
    .personnel{
        display: flex;
        flex-wrap:nowrap;
        width: 100%;
        text-align: justify;
        font-size: 35px;
    }
    .nom{
        width: 50%;
        display: flex;
        width: 30%;
    }
    .renseignenments{
        display: flex;
        width: 70%;
    }
}